body {
    width: 100%;
    height: 4612px;
}

a+a {
    margin-right: 1%;
    margin-left: 1%;
}

.navbar1 {
    background-color: rgba(0, 3, 36, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-size: 1.25em;
    padding-bottom: 10px;
}

.nav-link {
    border: 2px solid transparent;
}

.nav-link:hover {
    border: 2px solid white;
}

.headerImage {
    width: 100%;
    height: 500px;
    background-image: url(../assets/header.jpg);
    background-position: 50% 56%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerText {
    font-family: Dosis, sans-serif;
    color: white;
    padding-top: 59px;
    font-size: 1.25em;
}

.headerTextP {
    display: flex;
    justify-content: center;
    font-size: .8em;
}

.headerCenterBox {
    width: 49.2%;
    height: 232px;
    background-color: rgba(0, 3, 36, 1);
    opacity: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
}

.Overview {
    height: 616px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.overviewImage {
    background-image: url(../assets/hamsterhomejpg.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: fill;
    height: 416px;
}

.overviewText {
    width: 45%;
}

.overviewTextH1 {
    font-family: Dosis;
    font-size: xx-large;
}

.overviewTextP {
    font-family: Source Sans Pro;
}

.awardImg{
    width: 200px;
    height: 175px;
}

.roomsDiv {
    height: max-content;
    background-image: url(../assets/bg2.jpg);
    background-position: 00% 65%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card {
    width: 95%;
    height: 100%;
    margin-left: 5%;
}

.cardImg{
    width: 100%;
    height: 50%;
    object-fit: none;
    object-position: 50% 50%;
}


li {
    font-size: small;
    font-family: Source Sans Pro, regular;
}

.pkgImg1 {
    width: 29.2%;
    height: 234px;
    background-image: url(../assets/hamsterwedding.jpg);
    transform: scale(.95);
    background-repeat: no-repeat;
    background-position: 0% 10%;
    background-size: cover;
}

.pkgImg2 {
    width: 29.2%;
    height: 234px;
    background-image: url(../assets/hamsterspring.jpg);
    transform: scale(.95);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.pkgImg3 {
    width: 29.2%;
    height: 234px;
    background-image: url(../assets/hamstercheese.jpg);
    transform: scale(.95);
    background-repeat: no-repeat;
    background-position: 50% 65%;
    background-size: cover;
}

.amenities {
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.resImg {
    height: 414px;
    background-image: url(../assets/hamsterreserve.jpg);
    background-size: cover;
    position: relative;
    background-position: 50% 70%;
}

.footer {
    height: 7%;
    background-color: rgba(0, 3, 36, 1);
    margin-top: 7.5%;
}

.footImg {
    width: 7.4%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    padding-top: 1%;
}

.footText {
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1%;
    font-family: 'Source Sans Pro';
}

.cardBtn{
    width: 45.7%;
}

.num{
    display: none;
}

@media screen and (max-width:991px)
{

    .Overview{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .card {
        width: 90%;
        height: 75%;
        margin-bottom: 10%;
        margin-left: 5%;
    }

    .cardImg{
        width: 100%;
        height: 50%;
        object-fit: none;
        object-position: 50% 50%;
    }

   
}

@media screen and (max-width: 1250px)
{
    .number{
        display: none;
    }

    .num{
        display: inline;
    }
}

